* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.nav-container img {
  width: 20%;
}

.nav-container-menu a {
  margin-right: 20px;
}

.hero-container {
  background-image: url('./images/hero.jpg');
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.hero-container-title {
  font-size: 60px;
  font-weight: 500;
}

.hero-container-subtitle {
  font-size: 40px;
  font-weight: 400;
}

.hero-container-link {
  background-color: rgba(255, 255, 255, 0.659);
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

.fotos-hotel-container-titles {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

hr {
  border: 1px solid;
  width: 20%;
  margin: 0 auto;
}
.fotos-hotel-container-title {
  font-weight: 400;
  font-size: 30px;
}
.fotos-hotel-container-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.fotos-hotel-container-grid div {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.fotos-hotel-container-img1 {
  background-image: url('./images/itacare-01.jpg');
  flex-basis: 35%;

}

.fotos-hotel-container-img2 {
  background-image: url('./images/itacare-02.jpg');
  flex-basis: 55%;
}

.fotos-hotel-container-img3 {
  background-image: url('./images/itacare-03.jpg');
  flex-basis: 55%;
}

.fotos-hotel-container-img4 {
  background-image: url('./images/itacare-04.jpg');
  flex-basis: 35%;
}

.fotos-hotel-container {
  padding-bottom: 40px;
}


.more-info-container {
  background-color: black;
  color: white;
  padding: 30px 40px;
  text-align: center;
}

.more-info-container-subtitle {
  margin: 20px;
}

.more-info-container-list {
  list-style: none;
}

.more-info-container-list i {
  font-size: 3rem;
  color: #c3c63b;
}
.more-info-container-list li {
  margin: 40px 0;
}
.more-info-container-list h3 {
  margin: 30px 0;
  color: #c3c63b;

}

.newsletter-container {
  padding: 30px 20px;
  text-align: center;
}

.newsletter-container input {
  padding: 10px;
    border: 1px solid #c3c63b;
}
.newsletter-container button {
  padding: 10px;
    background-color: #c3c63b;
    border: 1px solid #c3c63b;
    color: white;
}

.footer-redes-sociais  {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer-redes-sociais i {
  color: #c3c63b;
  font-size: 1.5rem;
}
@media screen and (max-width: 480px){
 nav {
  display: none;
 }
 .hero-container {
  background-position: bottom;
  text-align: center;
 }
 .hero-container-link {
  margin-top: 50px;
 }
 .nav-container img {
  width: 60%;
}
.hero-container-title {
  font-size: 2.5rem;
}
.hero-container-subtitle {
  font-size: 1.5rem;
}
.fotos-hotel-container-img1, 
.fotos-hotel-container-img2 ,
 .fotos-hotel-container-img3, 
 .fotos-hotel-container-img4{
  flex-basis: 80%;
}
}


@media screen and (min-width: 910px){
  .more-info-container-list {
    display: flex;
  }
  .footer-redes-sociais { 
    margin-bottom: 20px;
  }
  .more-info-container-list li {
    width: 35%;
}
}
